
.n1{
	background-color:#ff3838;
	margin-top: 10px;
	margin-left:10px;
	margin-right: 10px;
	border-radius: 10px;
}
.n2
{
	background-color:#12CBC4;
	margin-top: 10px;
	margin-left:10px;
	margin-right: 10px;
	border-radius: 10px;

}
.n3
{
	background-color:#ffb8b8;
	margin-top: 10px;
	margin-left:10px;
	margin-right: 10px;
	border-radius: 10px;

}
.n4
{
	background-color:#f78fb3;
	margin-top: 10px;
	margin-left:10px;
	margin-right: 10px;
	border-radius: 10px;

}